# Fundamental to the build
target/
/.bsp/
/scalalib/fetchedSources/
/partest/fetchedSources/
/linker-interface/**/scalajs-logging-src/
/linker-interface/**/scalajs-logging-src-jars/
/node_modules/

# IDE specific
.cache
.classpath
.project
.settings/
/.idea/
/.idea_modules/
bin/
/.bloop/
/.metals/
/project/**/metals.sbt
/.vscode/

# User specific
/.jvmopts
/.sbtopts
